.infoBoxHeading_table {
    background: none repeat scroll 0 0 #333333;
    margin: 0;
}
.infoBoxHeading_td {
    padding: 7px 0 8px 18px;
    vertical-align: top;
    width: 100%;
}
.popup .infoBoxHeading_td {
    padding: 7px 0 8px 18px;
    vertical-align: top;
    width: 100%;
}
.infoBoxHeading_table {
    background: url("../images/infoBoxHeading_t.gif") repeat-x scroll 0 0 #F3F3F3;
}
.infoBoxHeading_b {
    background: url("../images/infoBoxHeading_b.gif") repeat-x scroll 0 100% transparent;
}
.infoBoxHeading_l {
    background: url("../images/infoBoxHeading_border.gif") repeat-y scroll 0 0 transparent;
}
.infoBoxHeading_r {
    background: url("../images/infoBoxHeading_border.gif") repeat-y scroll 100% 0 transparent;
}
.infoBoxHeading_tl {
    background: url("../images/infoBoxHeading_tl.gif") no-repeat scroll 0 0 transparent;
}
.infoBoxHeading_tr {
    background: url("../images/infoBoxHeading_tr.gif") no-repeat scroll 100% 0 transparent;
}
.infoBoxHeading_bl {
    background: url("../images/infoBoxHeading_bl.gif") no-repeat scroll 0 100% transparent;
}
.infoBoxHeading_br {
    background: url("../images/infoBoxHeading_br.gif") no-repeat scroll 100% 100% transparent;
}
.popup .infoBoxHeading_td {
    color: #111017;
    font-size: 16px;
    font-weight: normal;
    line-height: 17px;
}
.infoBoxHeading_td {
    color: #111017;
    font-size: 16px;
    font-weight: normal;
    line-height: 17px;
}
.infoBoxHeading_td a {
    font-size: 16px;
    font-weight: normal;
    line-height: 17px;
    text-decoration: none;
}
.infoBoxHeading_td a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.infoBox_table {
    margin: 0;
}
.popup .infoBox_table {
    background: none repeat scroll 0 0 transparent;
}
.infoBox_td {
    padding: 0 0 20px;
    width: 100%;
}
.infoBoxContents_table {
    margin: 0;
}
.infoBoxContents_table .boxText {
    height: 16px;
    padding: 18px 19px 15px;
    width: 100%;
}
.popup .infoBoxContents_table .boxText {
    height: 56px;
    padding: 1px 19px 15px;
    width: 100%;
}
.infoBoxContents2_table .boxText {
    height: 56px;
    padding: 9px 0 0;
    width: 100%;
}
.infoBox3_table {
    margin: 23px 2px 0 0;
    width: 178px;
}
.infoBox3_td {
    padding: 0 0 0 15px;
    width: 100%;
}
.infoBoxContents3_table {
    margin: 0;
}
.infoBoxContents3_table .boxText {
    padding: 0;
    width: 100%;
}
.infoBox4_table {
    margin: 0;
}
.infoBox4_td {
    padding: 0 0 20px;
    width: 100%;
}
.infoBoxContents4_table {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0;
}
.infoBoxContents4_table .boxText {
    padding: 0 0 10px;
    width: 100%;
}
.infoBoxHeadingTitle_table {
    margin: 5px 0 6px;
}
.infoBoxHeadingTitle_td {
    padding: 7px 0 6px 24px;
    vertical-align: top;
    width: 100%;
}
.popup .infoBoxHeadingTitle_td {
    padding: 7px 0 6px 24px;
    vertical-align: top;
    width: 100%;
}
.popup .infoBoxHeadingTitle_td {
    color: #2F3638;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
}
.infoBoxHeadingTitle_td {
    color: #0BB1E8;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
}
.infoBoxHeadingTitle_td a {
    color: #0BB1E8;
    font-size: 24px;
    font-weight: normal;
    line-height: 26px;
    text-decoration: none;
}
.infoBoxHeadingTitle_td a:hover {
    color: #0BB1E8;
    text-decoration: underline;
}
.box_cart {
    margin-bottom: 11px;
    margin-top: 15px;
}
.box_cart td {
    padding: 4px 0;
}
.boxText font {
    color: #2B4605;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
.boxText font a {
    color: #2B4605;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
.boxText font a:hover {
    color: #2B4605;
}
.boxText font.sc a {
    color: #2B4605;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.boxText font.sc a:hover {
    color: #2B4605;
    text-decoration: underline;
}
.boxText strong a {
    color: #2B4605;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    text-decoration: none;
}
.boxText strong a:hover {
    color: #2B4605;
    text-decoration: none;
}
.boxText SPAN.newItemInCart {
    color: #FF0000;
    font-size: 12px;
    line-height: 14px;
    padding: 4px 0;
}
.boxText a .newItemInCart {
    color: #FF0000;
    font-size: 12px;
    line-height: 14px;
}
.boxText a:hover .newItemInCart {
    color: #FF0000;
    text-decoration: underline;
}
.boxText SPAN.oldItemInCart {
    color: #393939;
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 4px 0;
}
.boxText a .oldItemInCart {
    color: #393939;
    font-size: 12px;
    line-height: 14px;
}
.boxText a:hover .oldItemInCart {
    color: #999A9B;
    text-decoration: underline;
}
.boxText, .boxText td, .boxText div {
    color: #999A9B;
    font-size: 12px;
    line-height: 16px;
}
.boxText a, .boxText a b {
    color: #999A9B;
    font-size: 11px;
    line-height: 12px;
    text-decoration: none;
}
.boxText a b {
    color: #999A9B;
}
.boxText a:hover {
    text-decoration: none;
}
.boxText .order_history {
    padding: 3px 5px 3px 0;
    width: 100%;
}
.boxText .order_history a {
    color: #393939;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
}
.boxText .order_history a:hover {
    color: #999A9B;
    text-decoration: none;
}
.boxText span a {
    color: #111017;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: none;
}
.boxText span a:hover {
    color: #111017;
    text-decoration: underline;
}
.boxText span.productSpecialPrice {
    color: #0BB1E8;
    display: inline;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
}
.boxText b.productSpecialPrice {
    color: #0BB1E8;
    display: inline;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
}
del {
    color: #0BB1E8;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
}
.boxText div.img {
    margin: 10px 0;
    text-align: center;
}
.boxText div.stars {
    margin: 14px 0 10px;
}
.boxText .name_padd {
    height: 16px;
    padding: 2px 10px 0;
    vertical-align: top;
}
.boxText .pic_padd {
    padding: 0 0 10px;
    text-align: center;
    vertical-align: middle;
}
.boxText .price_padd {
    height: 10px;
    padding: 10px 14px 0 10px;
    vertical-align: middle;
    width: 100%;
}
.boxText .price_padd b {
    color: #000000;
    display: none;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.boxText .desc_padd {
    height: 24px;
    padding: 4px 11px 6px;
}
.boxText select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B4B4B4;
    color: #B4B4B4;
    height: 19px;
    margin: 2px 0 5px;
    width: 100%;
}
.boxText .input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B4B4B4;
    color: #B4B4B4;
    height: 19px;
    margin: 6px 0 4px;
    width: 100%;
}
.boxText .button_search {
    width: 15%;
}
.boxText .button_search input {
    margin: 2px 0 0;
}
.boxText .text_search {
    text-align: left;
    width: 85%;
}
.boxText .star_padd {
    padding: 4px 14px 15px;
}
.boxText .languages {
    padding: 0;
}
.boxText .languages .flag_sep {
    margin: 3px 5px 0;
}
.boxText .button {
    height: 6px;
    padding: 0 13px 9px 14px;
    text-align: center;
    vertical-align: middle;
}
.boxText .button td {
    color: #000000;
}
.button td {
    padding-top: 7px;
    vertical-align: middle;
}
.boxText .padd {
    padding: 0 0 5px;
}
.boxText .search_input-rep {
    background: url("../images/search3-rep.gif") repeat-x scroll 0 0 transparent;
    width: 100%;
}
.boxText .search_input-left {
    background: url("../images/search3-left.gif") no-repeat scroll 0 0 transparent;
}
.boxText .search_input-right {
    background: url("../images/search3-right.gif") no-repeat scroll 100% 0 transparent;
    height: 21px;
    vertical-align: middle;
    width: 100%;
}
.boxText .search_button-rep {
    background: url("../images/search4-rep.gif") repeat-x scroll 0 0 transparent;
}
.boxText .search_button-left {
    background: url("../images/search4-left.gif") no-repeat scroll 0 0 transparent;
}
.boxText .search_button-right {
    background: url("../images/search4-left.gif") no-repeat scroll 100% 0 transparent;
    height: 21px;
    padding: 0;
    vertical-align: middle;
}
.boxText .go {
    background: none repeat scroll 0 0 transparent;
    border: 0 solid #CCCCCC;
    color: #9A9A9A;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding-left: 9px;
    padding-right: 5px;
    vertical-align: middle;
    width: 100%;
}
.boxText .advserch {
    padding: 12px 0 0;
}
.boxText .advserch a {
    text-decoration: underline;
    text-transform: lowercase;
}
.boxText .advserch a:hover {
    text-decoration: none;
}
.boxText li {
    padding: 0;
    width: 100%;
}
.boxText li, .boxText li a, .boxText li a font {
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
    vertical-align: top;
}
.boxText li a b {
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
}
.boxText ul {
    list-style: none outside none;
    padding: 0;
}
.boxText .categories {
    margin: 0;
}
.boxText .bestsellers {
    margin: 0;
}
.boxText .information {
    margin: 0;
}
.boxText .manufacturers ul {
    margin: 0;
}
.boxText li a {
    display: block;
}
.boxText ul li div {
    padding-left: 13px;
}
.boxText .bg_list {
    background: url("../images/list_hline.gif") repeat-x scroll 0 0 transparent;
    margin: 1px 0 0;
    padding: 0;
}
.boxText .bg_list a {
    background: url("../images/list_marker.gif") no-repeat scroll 19px 14px transparent;
    color: #111017;
    padding: 8px 0 6px 31px;
    text-decoration: none;
}
.boxText .bg_list a:hover {
    color: #0BB1E8;
    text-decoration: none;
}
.boxText .bg_list a b {
    color: #0BB1E8;
    display: block;
    font-weight: normal;
    margin: -8px 0 -6px -31px;
    padding: 8px 0 6px 31px;
    text-decoration: none;
}
.boxText .bg_list a:hover b {
    color: #111017;
    display: block;
    margin: -8px 0 -6px -31px;
    padding: 8px 0 6px 31px;
    text-decoration: none;
}
.boxText .bg_list_un {
    padding: 0;
}
.boxText .bg_list_un a {
    background: url("../images/list_marker.gif") no-repeat scroll 19px 14px transparent;
    color: #111017;
    padding: 8px 0 6px 31px;
    text-decoration: none;
}
.boxText .bg_list_un a:hover {
    color: #0BB1E8;
    text-decoration: none;
}
.boxText .bg_list_un a b {
    color: #0BB1E8;
    display: block;
    font-weight: normal;
    margin: -8px 0 -6px -31px;
    padding: 8px 0 6px 31px;
    text-decoration: none;
}
.boxText .bg_list_un a:hover b {
    color: #111017;
    display: block;
    margin: -8px 0 -6px -31px;
    padding: 8px 0 6px 31px;
    text-decoration: none;
}
.boxText .bg_list2 {
    padding: 0;
}
.boxText .bg_list2 a {
    padding: 8px 0 6px 19px;
}
.boxText .bg_list2 a:hover {
    text-decoration: none;
}
.boxText .bg_list2_un {
    padding: 0;
}
.boxText .bg_list2_un a {
    padding: 8px 0 6px 19px;
}
.boxText .bg_list2_un a:hover {
    text-decoration: none;
}
.boxText .bg_list2 {
    background: url("../images/list_hline.gif") repeat-x scroll 0 0 transparent;
    margin: 1px 0 0;
    padding: 0;
}
.boxText .bg_list2 a font {
    color: #111017;
}
.boxText .bg_list2 a:hover font {
    color: #0BB1E8;
    text-decoration: none;
}
.boxText .bg_list2_un {
    margin: 1px 0 0;
    padding: 0;
}
.boxText .bg_list2_un a font {
    color: #111017;
}
.boxText .bg_list2_un a:hover font {
    color: #0BB1E8;
    text-decoration: none;
}
.boxText .bg_list2 a b {
    color: #0BB1E8;
    font-weight: normal;
}
.boxText .bg_list2 a:hover b {
    color: #111017;
    text-decoration: none;
}
.boxText .bg_list2_un {
}
.boxText .bg_list2_un a b {
    color: #0BB1E8;
    font-weight: normal;
}
.boxText .bg_list2_un a:hover b {
    color: #111017;
    text-decoration: none;
}
.boxText .bg_list3 {
    background: url("../images/list_hline.gif") repeat-x scroll 0 0 transparent;
    margin: 1px 0 0;
    padding: 0;
}
.boxText .bg_list3 a {
    background: url("../images/list_marker.gif") no-repeat scroll 19px 14px transparent;
    color: #111017;
    padding: 8px 0 6px 31px;
    text-decoration: none;
}
.boxText .bg_list3 a:hover {
    color: #0BB1E8;
    text-decoration: none;
}
.boxText .bg_list3_un {
    padding: 0;
}
.boxText .bg_list3_un a {
    background: url("../images/list_marker.gif") no-repeat scroll 19px 14px transparent;
    color: #111017;
    padding: 8px 0 6px 31px;
    text-decoration: none;
}
.boxText .bg_list3_un a:hover {
    color: #0BB1E8;
    text-decoration: none;
}