
BODY {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #111017;
    margin: 0;
    min-width: 940px;
}
.bg2_body {
    height: auto !important;
    min-height: 100%;
}
html, body {
    height: 100%;
}
* {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: normal;
    margin: 0;
    padding: 0;
}
.width_div {
    margin: auto;
    width: 940px;
}
.width_table {
    margin: auto;
    position: relative;
    width: 940px;
}
.width_td {
    padding: 0;
}
.main_table {
    margin: 0 auto;
    width: 940px;
}
.box_width_left {
    width: 243px;
}
.box_width_right {
    width: 243px;
}
.content_width_td {
    padding: 0;
    width: 100%;
}
.box_width_td_left {
    padding: 0 25px 0 7px;
}
.box_width_td_right {
    display: none;
    padding: 0 7px 0 25px;
}
.row_1 {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0 0 10px;
    text-align: center;
}
.row_2 {
    padding: 0;
}
.row_3 {
    padding: 0;
    text-align: center;
}
.row_4 {
    padding: 0;
}
.logo {
    float: left;
    padding: 29px 0 12px 17px;
    text-align: left;
    vertical-align: top;
    width: 235px;
}
.banner_box {
    padding-bottom: 31px;
    text-align: center;
    width: 100%;
}
.navigation2 {
    padding: 0 34px 0 0;
    width: 100%;
}
.navigation {
    padding: 0;
    width: 406px;
}
.navigation_wrapper_tl {
    background: url("../images/navigation_tl.gif") no-repeat scroll 0 0 transparent;
}
.navigation_wrapper_tr {
    background: url("../images/navigation_tr.gif") no-repeat scroll 100% 0 transparent;
}
.navigation_wrapper_rep {
    background: url("../images/navigation_rep.gif") repeat-x scroll 0 0 transparent;
    height: 41px;
    margin: 0 5px;
}
.navigation a {
    color: #E40808;
    font-size: 12px;
    font-weight: normal;
    line-height: 13px;
    text-decoration: none;
}
.navigation a:hover {
    color: #E40808;
    text-decoration: none;
}
.navigation_separator {
    width: 20%;
}
.navigation_separator img {
    width: 21px;
}
.navigation .languages {
    padding: 10px 29px 0 22px;
}
.navigation .languages table {
    width: 159px;
}
.navigation .languages td {
}
.navigation .languages .languages_img {
    margin: 0 2px;
}
.navigation .currencies {
    padding: 10px 21px 0 0;
    width: 100%;
}
.navigation .currencies table {
    width: 165px;
}
.navigation .languages td, .navigation .currencies td {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    vertical-align: middle;
}
.cart_bg {
    padding: 25px 0 13px;
}
.cart_bg div {
    padding: 0;
    text-align: left;
    white-space: nowrap;
    width: 255px;
}
.cart_bg b {
    color: #0BB1E8;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    text-decoration: underline;
}
.cart_bg div {
    color: #9A9A9A;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
}
.cart_bg a {
    color: #121212;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    text-decoration: none;
}
.cart_bg a:hover {
    color: #121212;
    text-decoration: underline;
}
.cart_bg a strong {
    color: #121212;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    text-decoration: none;
}
.cart_bg a:hover {
    color: #121212;
    text-decoration: underline;
}
.select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E8E8E7;
    color: #9A9A9A;
    height: 19px;
    line-height: 18px;
    margin: 0;
    padding: 1px 0 0;
    vertical-align: middle;
    width: 100%;
}
.select2 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 solid #E8E8E7;
    color: #A4A4A4;
    margin: 0 0 6px;
}
.select2 td {
    height: 36px;
    padding: 12px 0 10px;
    vertical-align: middle;
}
.select2 select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E8E8E7;
    color: #A4A4A4;
    margin: 0 10px 2px;
    vertical-align: middle;
    width: 30%;
}
.select3 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E8E8E7;
    color: #A4A4A4;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}
.search {
    padding: 2px 22px 0 43px;
    vertical-align: middle;
}
.search .go {
    background: none repeat scroll 0 0 transparent;
    border: 0 solid #CCCCCC;
    color: #9A9A9A;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding-left: 5px;
    padding-right: 0;
    vertical-align: middle;
    width: 100%;
}
.search td {
    color: #4A4849;
    font-size: 14px;
    font-weight: normal;
    line-height: 12px;
}
.search .table {
    width: 207px;
}
.search .td {
    padding: 0 0 4px;
}
.search_input-rep {
    background: url("../images/search-rep.gif") repeat-x scroll 0 0 transparent;
    width: 100%;
}
.search_input-left {
    background: url("../images/search-left.gif") no-repeat scroll 0 0 transparent;
}
.search_input-right {
    background: url("../images/search-left.gif") no-repeat scroll 100% 0 transparent;
    height: 23px;
    vertical-align: middle;
    width: 100%;
}
.search_button-rep {
    background: url("../images/search2-rep.gif") repeat-x scroll 0 0 transparent;
}
.search_button-left {
    background: url("../images/search2-left.gif") no-repeat scroll 0 0 transparent;
}
.search_button-right {
    background: url("../images/search2-right.gif") no-repeat scroll 100% 0 transparent;
    height: 23px;
    padding: 0;
    vertical-align: middle;
}
.footer {
    padding: 0;
}
.footer_td {
    padding: 24px 8px 20px;
    text-align: left;
    width: 100%;
}
.footer2_td {
    padding: 14px 16px 30px 24px;
    text-align: center;
}
.footer .footer2_td {
    vertical-align: middle;
}
.footer {
    color: #26B0ED;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    vertical-align: middle;
}
.footer div {
    color: #111017;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    vertical-align: top;
}
.footer a {
    color: #26B0ED;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    text-decoration: none;
}
.footer a:hover {
    color: #26B0ED;
    text-decoration: underline;
}
.footer b {
    color: #26B0ED;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
}
.footer b a {
    color: #26B0ED;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
}
.footer b a:hover {
    color: #26B0ED;
    text-decoration: underline;
}
.footer strong a {
    color: #26B0ED;
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
    text-decoration: underline;
}
.footer strong a:hover {
    color: #26B0ED;
    text-decoration: none;
}
.footer_wrapper_tl {
    background: url("../images/footer_wrapper_left.gif") no-repeat scroll 0 0 transparent;
}
.footer_wrapper_tr {
    background: url("../images/footer_wrapper_right.gif") no-repeat scroll 100% 0 transparent;
}
.footer_wrapper_rep {
    background: url("../images/footer_wrapper_rep.gif") repeat-x scroll 0 0 transparent;
    height: 41px;
    margin: 0 6px 2px;
    vertical-align: top;
}
.popup_bg {
    min-width: 460px;
    padding: 0;
}
.popup_width_table {
    margin: auto;
}
.popup_width_td {
    padding: 0;
}
.popup_1 {
    background: url("../images/logo.gif") no-repeat scroll 10px 15px transparent;
    height: 106px;
    padding: 15px 27px 29px;
    text-align: right;
}
.popup_2 {
    border: 0 solid #EAECE1;
    padding: 0 10px;
}
.popup {
    height: 100%;
    width: 408px;
}
.popup strong {
    color: #111017;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 13px;
    padding: 8px 0 6px;
    text-decoration: none;
}
.popup td {
    color: #888888;
}
.popup a, .popup a u {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}
.popup a:hover, .popup a:hover u {
    color: #999999;
    text-decoration: underline;
}
.popup .popup_footer {
    padding: 1px 0 11px;
    text-align: center;
}
.popup .popup_footer {
    color: #484848;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    vertical-align: top;
}
.popup .popup_footer a {
    color: #484848;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    text-decoration: none;
    text-transform: none;
}
.popup .popup_footer a:hover {
    color: #484848;
    text-decoration: underline;
}
.menu {
    padding: 0;
    width: 100%;
}
.menu_separator {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 1px;
}
.menu_separator img {
    width: 2px;
}
.menu_wrapper_tl {
    background: url("../images/menu_wrapper_tl.gif") no-repeat scroll 0 0 transparent;
}
.menu_wrapper_tr {
    background: url("../images/menu_wrapper_tr.gif") no-repeat scroll 100% 0 transparent;
}
.menu_wrapper_rep {
    background: url("../images/menu_wrapper_rep.gif") repeat-x scroll 0 0 transparent;
    height: 51px;
    margin: 0 5px;
}
.menu #m1, .menu #m2, .menu #m3, .menu #m4, .menu #m5, .menu #m6, .menu #m7, .menu #m8, .menu #m9, .menu #over_m1, .menu #over_m2, .menu #over_m3, .menu #over_m4, .menu #over_m5, .menu #over_m6, .menu #over_m7, .menu #over_m8, .menu #over_m9, .menu #over2_m1, .menu #over2_m2, .menu #over2_m3, .menu #over2_m4, .menu #over2_m5, .menu #over2_m6, .menu #over2_m7, .menu #over2_m8, .menu #over2_m9 {
    width: auto;
}
.menu #m1 a, .menu #m2 a, .menu #m3 a, .menu #m4 a, .menu #m5 a, .menu #m6 a, .menu #m7 a, .menu #m8 a, .menu #m9 a, .menu #over_m1 a, .menu #over_m2 a, .menu #over_m3 a, .menu #over_m4 a, .menu #over_m5 a, .menu #over_m6 a, .menu #over_m7 a, .menu #over_m8 a, .menu #over_m9 a, .menu #over2_m1 a, .menu #over2_m2 a, .menu #over2_m3 a, .menu #over2_m4 a, .menu #over2_m5 a, .menu #over2_m6 a, .menu #over2_m7 a, .menu #over2_m8 a, .menu #over2_m9 a {
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 17px;
    padding: 18px 8px 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}
.menu #m1 a, .menu #m2 a, .menu #m3 a, .menu #m4 a, .menu #m5 a, .menu #m6 a, .menu #m7 a, .menu #m8 a, .menu #m9 a {
    color: #2F3638;
}
.menu #over_m1 a, .menu #over_m2 a, .menu #over_m3 a, .menu #over_m4 a, .menu #over_m5 a, .menu #over_m6 a, .menu #over_m7 a, .menu #over_m8 a, .menu #over_m9 a {
    color: #0BB1E8;
    text-decoration: none;
}
.menu #over2_m1 a, .menu #over2_m2 a, .menu #over2_m3 a, .menu #over2_m4 a, .menu #over2_m5 a, .menu #over2_m6 a, .menu #over2_m7 a, .menu #over2_m8 a, .menu #over2_m9 a {
    color: #0BB1E8;
    text-decoration: none;
}
.navigation2 {
    overflow: hidden;
    padding: 0 0 0 23px;
}
.navigation2 td {
    vertical-align: middle;
    white-space: nowrap;
}
.navigation2 ul {
    float: right;
    list-style: none outside none;
    margin: 0 -8px 0 0;
    padding: 0;
    width: 498px;
}
.navigation2 li {
    display: block;
    float: right;
    vertical-align: top;
}
.navigation2 li.un {
    background: none repeat scroll 0 0 transparent;
}
.navigation2 #m4, .navigation2 #m5, .navigation2 #m8, .navigation2 #m9, .navigation2 #m10, .navigation2 #m11, .navigation2 #over_m4, .navigation2 #over_m5, .navigation2 #over_m8, .navigation2 #over_m9, .navigation2 #over_m10, .navigation2 #over_m11, .navigation2 #over2_m4, .navigation2 #over2_m5, .navigation2 #over2_m8, .navigation2 #over2_m9, .navigation2 #over2_m10, .navigation2 #over2_m11 {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    padding: 10px 8px 8px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: auto;
}
.navigation2 #m4, .navigation2 #m5, .navigation2 #m8, .navigation2 #m9, .navigation2 #m10, .navigation2 #m11 {
    color: #999999;
    text-decoration: none;
}
.navigation2 #over_m4, .navigation2 #over_m5, .navigation2 #over_m8, .navigation2 #over_m9, .navigation2 #over_m10, .navigation2 #over_m11 {
    color: #999999;
    text-decoration: underline;
}
.navigation2 #over2_m4, .navigation2 #over2_m5, .navigation2 #over2_m8, .navigation2 #over2_m9, .navigation2 #over2_m10, .navigation2 #over2_m11 {
    color: #999999;
    text-decoration: underline;
}
.footer #m1, .footer #m2, .footer #m3, .footer #m4, .footer #m5, .footer #m6, .footer #m7, .footer #m8, .footer #m9, .footer #m10, .footer #m11, .footer #over_m1, .footer #over_m2, .footer #over_m3, .footer #over_m4, .footer #over_m5, .footer #over_m6, .footer #over_m7, .footer #over_m8, .footer #over_m9, .footer #over_m10, .footer #over_m11 {
    text-align: center;
    width: 20%;
}
.footer #m1 a, .footer #m2 a, .footer #m3 a, .footer #m4 a, .footer #m5 a, .footer #m6 a, .footer #m7 a, .footer #m8 a, .footer #m9 a, .footer #m10 a, .footer #m11 a, .footer #over_m1 a, .footer #over_m2 a, .footer #over_m3 a, .footer #over_m4 a, .footer #over_m5 a, .footer #over_m6 a, .footer #over_m7 a, .footer #over_m8 a, .footer #over_m9 a, .footer #over_m10 a, .footer #over_m11 a {
    background: none repeat scroll 0 0 transparent;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    padding: 10px 7px;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
}
.footer #m1 a, .footer #m2 a, .footer #m3 a, .footer #m4 a, .footer #m5 a, .footer #m6 a, .footer #m7 a, .footer #m8 a, .footer #m9 a, .footer #m10 a, .footer #m11 a {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.footer #over_m1 a, .footer #over_m2 a, .footer #over_m3 a, .footer #over_m4 a, .footer #over_m5 a, .footer #over_m6 a, .footer #over_m7 a, .footer #over_m8 a, .footer #over_m9 a, .footer #over_m10 a, .footer #over_m11 a {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: underline;
}
.infoBox {
    background: none repeat scroll 0 0 #E6E6E6;
}
.orderEdit {
    color: #FF0054;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-decoration: underline;
}